%h2=l(:label_secretary_member_plural)

= error_messages_for @secretary_member

%table.list
  %thead
    %tr
      %th{:rowspan => 2}=l(:field_secretary_member)
      %th{:rowspan => 2}=l(:field_organization)
      %th{:colspan => 3}=l(:label_incoming)
      %th{:colspan => 3}=l(:label_outgoing)
      %th{:rowspan => 2}
    %tr
      %th= l(:label_new)
      %th= l(:label_edit)
      %th= l(:label_delete)
      %th= l(:label_new)
      %th= l(:label_edit)
      %th= l(:label_delete)
  %tbody
    - for secretary_member in @secretary_members
      %tr{:class=>cycle("odd", "even")}
        %td
          = link_to h(secretary_member.user.name), user_path(secretary_member.user)
        %td
          = link_to h(secretary_member.organization.title), edit_organization_path(secretary_member.organization)
        %td{:align=>"center"}= checked_image secretary_member.incoming_new?
        %td{:align=>"center"}= checked_image secretary_member.incoming_edit?
        %td{:align=>"center"}= checked_image secretary_member.incoming_delete?
        %td{:align=>"center"}= checked_image secretary_member.outgoing_new?
        %td{:align=>"center"}= checked_image secretary_member.outgoing_edit?
        %td{:align=>"center"}= checked_image secretary_member.outgoing_delete?
        %td.buttons
          = link_to l(:button_update), {:action => 'edit', :id => secretary_member.id}, :class => 'icon icon-edit'
          = link_to l(:button_delete), secretary_member_path(secretary_member), :method => :delete, :confirm => l(:text_are_you_sure), :class => 'icon icon-del'

%p.pagination= pagination_links_full @secretary_member_pages

- form = labelled_form_for @secretary_member, :method => @method do |f|
  = render :partial => 'form', :locals => {:f => f}
  = submit_tag l(:button_save)
= form if Rails::VERSION::MAJOR >= 3

- html_title(l(:label_secretary_member_plural))
