= render :partial => 'action_menu'

%h2
  = link_to t(:label_incoming), :action => :index
  &#187;
  = incoming_letter_heading(@object)

.issue.details
  %table.attributes
    %tr
      %th.subject= l(:field_subject)+":"
      %td.subject{:colspan => 3}= h(@object.subject)
    %tr
      %th.incoming_code= l(:field_incoming_code)+":"
      %td.incoming_code= h(@object.incoming_code)
      %th.created_on= l(:field_created_on)+":"
      %td.created_on= format_date(@object.created_on)
    %tr
      %th.outgoing_code= l(:field_outgoing_code)+":"
      %td.outgoing_code= h(@object.outgoing_code)
      %th.shipping_on= l(:field_shipping_on)+":"
      %td.shiping_on= format_date(@object.shipping_on)
    %tr
      %th.answer_for= l(:field_answer_for)+":"
      %td.answer_for
        - if @object.answer_for.present?
          = link_to h(@object.answer_for), :controller => :outgoing_letters, :action => :show, :id => OutgoingLetter.find(:first, :conditions => {:organization_id => @object.organization_id, :outgoing_code => @object.answer_for})
      %th.shipping_from= l(:field_shipping_from)+":"
      %td.shipping_from= h(@object.shipping_from)
    %tr
      %th.shipping_type= l(:field_shipping_type)+":"
      %td.shipping_type= h(@object.shipping_type)
      %th.signer= l(:field_signer)+":"
      %td.signer= h(@object.signer)
    %tr
      %th.recipient= l(:field_recipient)+":"
      %td.recipient
        - if @object.recipient_user.present?
          = link_to @object.recipient_user
        - else
          = h(@object.recipient)
      %th.original_required= l(:field_original_required)+":"
      %td.original_required= h(@object.original_required)
    %tr
      %th.executor_id= l(:field_executor)+":"
      %td.executor_id= h(@object.executor)
      %th.author= l(:field_author)+":"
      %td.author= h(@object.author)
  %hr
    #issue_tree
      %p
        %strong=l(:label_issue_plural)
      %table.list.issues
        - @object.issues.each do |issue|
          %tr.issue.hascontextmenu{:class => "issue-#{issue.id}"}
            %td.checkbox=check_box_tag("ids[]", issue.id, false, :id => nil)
            %td.subject=link_to_issue(issue, :project => false)
            %td.subject=link_to_project(issue.project)
            %td=issue.status
            %td=format_date(issue.start_date)
            %td=format_date(issue.due_date)
            %td=link_to_user(issue.assigned_to)
            %td=progress_bar(issue.done_ratio, :width => '80px')

  - if @object.description? || @object.attachments.any?
    %hr
    - if @object.description?
      %p
        %strong= l(:field_description)
      .wiki= textilizable @object, :description, :attachments => @object.attachments
    = link_to_attachments @object

= context_menu issues_context_menu_path
